name: Bahn Monitor Loop

on:
  workflow_dispatch:
  schedule:
    - cron: '*/40 * * * *'

jobs:
  run:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Run Bot
        run: |
          pip install requests
          git config --global user.name "GitHub Action Bot"
          git config --global user.email "actions@github.com"
          
          for i in {1..20}
          do
            python fetch_all_stations.py
            git add *.json
            # Erzwingt den Upload, um den Stau aufzuloesen
            git commit -m "Live Update $(date +%H:%M)" && git push origin main --force || echo "No changes"
            sleep 120
          done
