Name: Bahn Monitor Loop

on:
  workflow_dispatch:
  schedule:
    - cron: '*/40 * * * *'

jobs:
  run:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      actions: write # Notwendig für den Self-Restart!
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Zwingend erforderlich für Pull & Push
      
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install Requests
        run: pip install requests

      - name: Update Loop
        run: |
          git config --global user.name "Bot"
          git config --global user.email "bot@example.com"
          
          for i in {1..20}
          do
            python fetch_all_stations.py
            
            ls -l *.json
            
            git add *.json
            
            if ! git diff --cached --quiet; then
              git commit -m "Live Update $i"
              # REPARATUR: Erst pullen, dann pushen. Sonst bricht der Workflow ab!
              git pull --rebase origin main
              git push origin main --force
              echo "Änderungen hochgeladen!"
            else
              echo "Git sieht keine Änderungen!"
            fi
            
            sleep 120
          done

      - name: Self-Restart
        if: always() # Stellt sicher, dass der Restart IMMER versucht wird
        env:
          GH_TOKEN: ${{ github.token }}
        run: gh workflow run bahn_final.yml # Achte darauf, dass deine Datei so heißt!
