name: Bahn Monitor Loop

on:
  workflow_dispatch:
  schedule:
    - cron: '*/45 * * * *'

jobs:
  run:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'
      - name: Install Requests
        run: pip install requests
      - name: Main Loop
        run: |
          git config --global user.name "Bahn-Bot"
          git config --global user.email "bot@github.com"
          for i in {1..15}
          do
            python fetch_all_stations.py
            git add *.json
            # Commit nur wenn sich was geändert hat
            if ! git diff --cached --quiet; then
              git commit -m "Live Update Runde $i ($(date +%H:%M))"
              git push origin main || (git pull --rebase origin main && git push origin main)
            fi
            sleep 150 # Alle 2,5 Minuten ein Update reicht völlig aus
          done
      - name: Restart
        if: always()
        env:
          GH_TOKEN: ${{ github.token }}
        run: gh workflow run bahn_update.yml
