name: Bahn Monitor Loop

on:
  workflow_dispatch:
  schedule:
    - cron: '*/40 * * * *'

jobs:
  run:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Das ist das Wichtigste!
    steps:
      - uses: actions/checkout@v4
      
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Install Requests
        run: pip install requests

      - name: Update Loop
        run: |
          git config --global user.name "Bot"
          git config --global user.email "bot@example.com"
          
          for i in {1..20}
          do
            # Skript ausführen
            python fetch_all_stations.py
            
            # Kontrolle: Zeige uns die Dateien im Log!
            ls -l *.json
            
            # Git Force Add
            git add *.json
            
            # Commit & Push nur wenn Änderungen da sind
            if ! git diff --cached --quiet; then
              git commit -m "Live Update $i"
              git push origin main --force
              echo "Änderungen hochgeladen!"
            else
              echo "Git sieht keine Änderungen - Skript hat nichts geschrieben!"
            fi
            
            sleep 120
          done

      - name: Self-Restart
        if: always()
        env:
          GH_TOKEN: ${{ github.token }}
        run: gh workflow run bahn_update.yml
