name: Endlos High-Frequency Update

on:
  workflow_dispatch:
  schedule:
    - cron: '0 * * * *'

concurrency: 
  group: bahn-update-group
  cancel-in-progress: true 

jobs:
  update-cycle:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      actions: write

    steps:
      - name: Code auschecken
        uses: actions/checkout@v3

      - name: Python installieren
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Bibliotheken installieren
        run: pip install requests

      - name: 4-Stunden-Loop (60s Takt)
        run: |
          for i in {1..240}
          do
            echo "Runde $i"
            python main.py
            
            git config --local user.email "action@github.com"
            git config --local user.name "GitHub Action Bot"
            git add *.json
            
            # Nur pushen, wenn sich wirklich was geändert hat
            if ! git diff --quiet --staged; then
              git commit -m "Update Runde $i"
              git push
            fi
            
            echo "Warte auf nächste Minute..."
            sleep 10
          done

      - name: Workflow-Neustart
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          sleep 10
          gh workflow run "Endlos High-Frequency Update"
