name: Alle Stationen Einzel-Update

on:
  schedule:
    - cron: '*/10 * * * *'
  workflow_dispatch:

jobs:
  update:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - run: pip install requests

      - name: Bots ausführen
        run: |
          python zerbst_bot.py
          python rodleben_bot.py
          python rosslau_bot.py
          python dessau_hbf_bot.py
          python dessau_sued_bot.py
          python magdeburg_hbf_bot.py
          python magdeburg_neustadt_bot.py
          python magdeburg_herrenkrug_bot.py
          python leipzig_hbf_bot.py

      - name: Änderungen hochladen
        run: |
          git config --global user.name "Multi-Station Bot"
          git config --global user.email "bot@bahn-anzeige.de"
          git add *.json
          git commit -m "Automatisches Live-Update (Erfolgs-Schema)" || exit 0
          git push
