name: DB-Fahrplan-Bot
on:
  workflow_dispatch:
jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Python Setup
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install Libs
        run: pip install requests
      - name: Start Script
        run: python fetch_data.py
      - name: Save
        run: |
          git config user.name "Bot"
          git config user.email "bot@github.com"
          git add daten.json
          git commit -m "Update" || exit 0
          git push
